.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 800px) {
    min-width: unset;
    padding: 0 32px;
  }

  &:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
  }

  &.google-sign-in {
    background-color: var(--primary-color);
    color: var(--white);

    &:hover {
      background-color: var(--secondary-color);
      border: none;
    }
  }

  &.inverted {
    background-color: var(--primary-color);
    color: var(--white);

    &:hover {
      background-color: var(--black);
      color: var(--white);
      border: none;
    }
  }
}
